html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  color: #333;
  vertical-align: middle;
  align-content: space-between;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.pyramid {
  text-align: center;
  max-width: 25em;
  padding-bottom: 0;
  padding-top: 0;
}

img {
  display: block;
  width: 100%;
  flex-wrap: wrap;
  padding: .4em;
  max-width: 25em;
  overflow: hidden;
  max-height: 300px;
  object-fit: contain;
  padding-bottom: 0;
  padding-top: 0;
}

div {
  display: flex;
  width: 100%;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  max-width: 25em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn a:hover {
  display: inline-block;
  color: #fff;
  background-color: #666;
  width: 7.5em;
  text-align: center;
  font-size: 1em;
}

section {
  display: inline-block;
  max-width: 25em;
  padding: .4em .75em .5em;
  padding-bottom: 0;
}

.btn {
  display: inline-block;
  list-style-type: none;
  border-radius: .3em;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  width: 7.5em;
  padding: .1em;
  text-align: center;
  color: #333;
}

.btn a {
  display: inline-block;
  text-decoration: none;
  color: #666;
  padding: .4em;
}

body {
  margin: 0;
  text-align: center;
}

.great-pyramid {
  padding-bottom: 3em;
  text-align: left;
  vertical-align: top;
  padding-top: 0;
}
