html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin-left: 1.5rem;
  color: #333;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: inline-flex;
  max-width: 25em;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3em;
  padding-right: 2em;
}

div {
  display: inline-block;
  max-height: 300px;
}

h2 {
  margin-bottom: 0;
}

p {
  max-width: 25em;
}

a:hover {
  display: inline-block;
  color: #fff;
  background-color: #666;
  width: 8.7em;
  text-align: center;
  font-size: 1em;
  padding: .5em;
}

article {
  display: inline-block;
  max-width: 25em;
}

nav ul {
  list-style-type: none;
  border-radius: .3em;
  border-width: 3px;
  border-style: solid;
  border-color: #666;
  width: 9em;
  padding: 0;
  text-align: center;
}

nav a {
  display: inline-block;
  text-align: left;
  text-decoration: none;
  padding: .5em;
  color: #666;
}

body {
  margin: 0;
}
